.app-side__groups-lists-block-name
  sampleグループ
.app-side__groups-lists-block-detail
  まだメッセージはありません

.app-side__groups-lists-block
.app-side__groups-lists-block-name
  元気なグループ
.app-side__groups-lists-block-detail
  今日も１日元気にいきましょう

.app-side__groups-lists-block
.app-side__groups-lists-block-name
  プラス１
.app-side__groups-lists-block-detail
  とりあえずみんな頑張ろう

.app-side__groups-lists-block
.app-side__groups-lists-block-name
  川原さんを愛す会
.app-side__groups-lists-block-detail
  住所特定しました！！
