.app-main__body-ls-msg
  .app-main__body-ls-msg-name
    reiji
  .app-main__body-ls-msg-time
    2017/07/27 20:40:08
  .app-main__body-ls-msg-detail
    お腹の調子が優れないなぁ

.app-main__body-ls-msg
  .app-main__body-ls-msg-name
    reiji
  .app-main__body-ls-msg-time
    2017/07/27 20:40:08
  .app-main__body-ls-msg-detail
    トイレに行っトイレ

.app-main__body-ls-msg
  .app-main__body-ls-msg-name
    reiji
  .app-main__body-ls-msg-time
    2017/07/27 20:40:08
  .app-main__body-ls-msg-detail
    シーーン
