.app-side
  .app-side__user
    .app-side__user-content
      .app-side__user-content-name
        = current_user.Name
      = link_to edit_user_registration_path, class: 'app-side__user-content--make-group-icon' do
        %i.fa.fa-cog{ aria: { hidden: 'true' } }
      = link_to root_path, class: 'app-side__user-content--edit-user-icon' do
        %i.fa.fa-pencil-square-o

  .app-side__groups
    .app-side__groups-lists
      .app-side__groups-lists-block
        = render partial: 'messages/groups'
