.app-side {
  @include app-height;
  width: $side-bar-width;
  float: left;
  &__user {
    height: 15%;
    color: $white;
    background-color: $deep-blue;
    &-content {
      padding: 35px 20px;
      &-name {
        font-size: 16px;
        display: inline-block;
        font-weight: bold;
      }
      &--make-group-icon {
        color: $white;
        float: right;
      }
      &--edit-user-icon {
        color: $white;
        float: right;
        padding-right: 5px;
      }
    }
  }
  &__groups {
    min-height: 85%;
    background-color: $thin-dark-blue;
    &-lists {
      padding: 0 20px;
      &-block {
        padding: 20px 0;
        background-color: block;
        &-name {
          font-size: 15px;
          color: $white;
        }
        &-detail {
          font-size: 11px;
          color: $white;
          margin-top: 5px;
        }
      }
    }
  }
}

.app-main {
  @include app-height;
  @include app-main-width;
  float: left;
  &-header {
    height: 15%;
    border: slid 1px $gray;
    padding: 0 40px;
    &__content {
      &__group-name {
        font-size: 20px;
        color: $title-black;
        display: inline-block;
        padding-top: 35px;
      }
      &__edit-btn {
        @include btn($thin-blue, $thin-blue);
        padding: 10px 20px;
        float: right;
        margin-top: 28px;
      }
    }
    &__member {
      font-size: 12px;
      color: $thin-black;
      margin-top: 15px;
    }
  }
  &__body {
    @include app-body-height;
    background-color: $thin-gray;
    overflow: scroll;
    &-ls {
      padding: 0 40px;
      &-msg {
        padding: 40px 0;
        &-name {
          font-size: 16px;
          font-weight: bold;
          color: $font-color;
          display: inline-block;
        }
        &-time {
          font-size: 12px;
          color: $thin-black;
          display: inline-block;
          margin-left: 10px;
        }
        &-detail {
          font-size: 14px;
          color: $font-color;
          margin-top: 10px;
        }
      }
    }
  }

  &-footer {
    @include footer-height;
    &__content {
      padding: 20px 40px;
      &__send-btn {
        @include btn($thin-blue, $white);
        height: 50px;
        background-color: $thin-blue;
        width: 100px;
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        float: right;
      }
    }
    &__input {
      width: calc(100% - 170px);
      display: inline-block;
      border: 1px solid $border-gray;
      padding: 13px 0 13px 13px;
      &--type-msg {
        width: 90%;
        outline: 0;
        border: 0px;
        background: transparent;
      }
      &--icon {
        margin-left: 50px;
      }
    }
  }
}
