$thin-blue: #38AEF0;
$white: #FFFFFF;
$gray: #EEEEEE;
$font-color: #434A54;
$deep-blue: #253141;
$thin-dark-blue: #2F3E51;
$title-black: #333333;
$thin-black: #999999;
$thin-gray: #AAAAAA;
$border-gray: #DDD;
$btn-gray: #CCC;
$warning-red: #d65f4c;
$side-bar-width: 300px;
$vendor-prefix: (-webkit-, -moz-, -o-, -ms-);
