@import './reset';
/* definitions*/
@import 'variables';
@import 'mixin';
@import 'style';
@import 'messages';
@import 'font-awesome';
@import 'user';

.notice {
  background-color: $thin-blue;
  color: $white;
  text-align: center;
}

.alert {
  background-color: $alert-red;
  color: $white;
  text-align: center;
}
