.alert-top {
  height: 24px;
  background-color: $thin-blue;
  color: $white;
  text-align: center;
}

.app-side {
  height: 100vh;
  height: -webkit-100vh;
  height: -moz-100vh;
  height: -o-100vh;
  height: -ms-100vh;
  width: $side-bar-width;
  float: left;
  &__user {
    height: 15%;
    color: $white;
    background-color: $deep-blue;
    &-content {
      padding: 35px 20px;
      &-name {
      font-size: 16px;
      display: inline-block;
      font-weight: bold;
      }
      &--make-group-link {
        color: $white;
        float: right;
      }
      &--edit-user-link {
        color: $white;
        float: right;
        padding-right: 5px;
      }
    }
  }
  &__groups {
  height: 85%;
  background-color: $thin-dark-blue;
    &-lists {
      padding: 0 20px;
      &-block {
        padding: 20px 0;
        background-color: block;
        &-name {
          font-size: 15px;
          color: $white;
        }
        &-detail {
          font-size: 11px;
          color: $white;
          margin-top: 5px;
        }
      }
    }
  }
}

.app-main {
  height: 100vh;
  height: -webkit-100vh;
  height: -moz-100vh;
  height: -o-100vh;
  height: -ms-100vh;
  width: calc(100vw - 300px);
  width: -webkit-calc(100vw - 300px);
  width: -moz-calc(100vw - 300px);
  width: -o-calc(100vw - 300px);
  width: -ms-calc(100vw - 300px);
  float: left;
  &__header {
    height: 15%;
    border: slid 1px $gray;
    padding: 0 40px;
    &-content {
      &-group-name {
        font-size: 20px;
        color: $title-black;
        display: inline-block;
        padding-top: 35px;
      }
      &-edit-btn {
        @include btn($thin-blue, $thin-blue);
        padding: 10px 20px;
        float: right;
        margin-top: 28px;
      }
    }
    &-member {
      font-size: 12px;
      color: $thin-black;
      margin-top: 15px;
    }
  }
  &__body {
    height: calc(100vh - 15% - 90px);
    height: -webkit-calc(100vh - 15% - 90px);
    height: -moz-calc-calc(100vh - 15% - 90px);
    height: -o-calc(100vh - 15% - 90px);
    height: -ms-calc(100vh - 15% - 90px);
    background-color: $thin-gray;
    &-ls {
     padding: 0 40px;
     &-msg {
      padding: 40px 0;
      &-name {
        font-size: 16px;
        font-weight: bold;
        color: $font-color;
        display: inline-block;
      }
      &-time {
        font-size: 12px;
        color: $thin-black;
        display: inline-block;
        margin-left: 10px;
      }
      &-detail {
        font-size: 14px;
        color: $font-color;
        margin-top: 10px;
      }
     }
    }
  }

  &__footer {
    height: -webkit-90px;
    height: -moz-90px;
    height: -o-90px;
    height: -ms-90px;
    &-content {
      padding: 20px 40px;
      &-type-msg {
        @include btn($gray, $font-color);
        width: calc(100% - 130px);
        font-size: 16px;
        padding: 15px 0 15px 10px;
        display: inline-block;
        &-icon {
        float: right;
        padding-right: 10px;
      }
    }
      &-send-btn {
        @include btn($thin-blue, $white);
        height: 50px;
        background-color: $thin-blue;
        width: 100px;
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        float: right;
      }
    }
  }
}
